In [7]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '../src')))
from utils.data_processing_tick import convert_to_tick
from utils.data_processing_tick import extract_significant_prices

In [8]:
%debug

year = "2022"
ccy = "eurgbp"
brick_size = 0.001
use_first_price_as_base=False

csv_filepath = rf'C:\Users\mmori\Documents\fx_strategy_project\notebooks\data\ASCII\M1\{ccy.lower()}\{year}'
csv_filename = f'DAT_ASCII_{ccy.upper()}_M1_{year}.csv'

output_file_path = r'C:\Users\mmori\Documents\fx_strategy_project\notebooks\output'
if (use_first_price_as_base):
    output_filename = f'{year}_{ccy.lower()}_tick_first_price_as_base.csv'
else:
    output_filename = f'{year}_{ccy.lower()}_tick_prev_price_as_base.csv'

convert_to_tick(csv_filepath, csv_filename, output_file_path, output_filename, brick_size, use_first_price_as_base)

ERROR:root:No traceback has been produced, nothing to debug.

Tick-like data has been saved to tick_like_data.csv
   tick_number                       datetime    price  actual_openprice  \
0            1  2022-01-02T17:46:00.000000000  0.84037           0.84060
1            2  2022-01-03T03:07:00.000000000  0.83937           0.83933
2            3  2022-01-03T05:48:00.000000000  0.84037           0.84037
3            4  2022-01-03T08:25:00.000000000  0.84137           0.84139
4            5  2022-01-03T09:36:00.000000000  0.84037           0.84035

   ticks_moved  directions  fx_return
0            1           1        NaN
1            1          -1  -0.151083
2            1           1   0.123908
3            1           1   0.121375
4            1          -1  -0.123605

,tick_number,datetime,price,actual_openprice,ticks_moved,directions,fx_return
0,1,2022-01-02T17:46:00.000000000,0.84037,0.84060,1,1,NaN
1,2,2022-01-03T03:07:00.000000000,0.83937,0.83933,1,-1,-0.151083
2,3,2022-01-03T05:48:00.000000000,0.84037,0.84037,1,1,0.123908
3,4,2022-01-03T08:25:00.000000000,0.84137,0.84139,1,1,0.121375
4,5,2022-01-03T09:36:00.000000000,0.84037,0.84035,1,-1,-0.123605
...,...,...,...,...,...,...,...
4321,4322,2022-12-30T10:49:00.000000000,0.88737,0.88743,1,1,0.098132
4322,4323,2022-12-30T11:22:00.000000000,0.88637,0.88632,1,-1,-0.125080
4323,4324,2022-12-30T13:00:00.000000000,0.88537,0.88526,1,-1,-0.119596
4324,4325,2022-12-30T13:29:00.000000000,0.88637,0.88640,1,1,0.128776
4325,4326,2022-12-30T16:11:00.000000000,0.88537,0.88535,1,-1,-0.118457