In [1]:
import sys
import os
sys.path.append(os.path.abspath(r'C:\Users\mmori\Documents\fx_strategy_project\src'))
from utils.data_processing_tick import convert_to_tick
from utils.data_processing_tick import extract_significant_prices

In [5]:
%debug

year = "2023"
ccy = "eurgbp"
brick_size = 0.001
use_first_price_as_base=False

csv_filepath = rf'C:\Users\mmori\Documents\fx_strategy_project\notebooks\data\ASCII\M1\{ccy.lower()}\{year}'
csv_filename = f'DAT_ASCII_{ccy.upper()}_M1_{year}.csv'

output_file_path = r'C:\Users\mmori\Documents\fx_strategy_project\notebooks\output'
if (use_first_price_as_base):
    output_filename = f'{year}_{ccy.lower()}_tick_first_price_as_base.csv'
else:
    output_filename = f'{year}_{ccy.lower()}_tick_prev_price_as_base.csv'

convert_to_tick(csv_filepath, csv_filename, output_file_path, output_filename, brick_size, use_first_price_as_base)

ERROR:root:No traceback has been produced, nothing to debug.

Tick-like data has been saved to tick_like_data.csv
   tick_number                       datetime    price  actual_openprice  \
0            1  2023-01-01T18:34:00.000000000  0.88272           0.88261
1            2  2023-01-01T18:35:00.000000000  0.88372           0.88383
2            3  2023-01-01T18:37:00.000000000  0.88272           0.88264
3            4  2023-01-01T18:52:00.000000000  0.88372           0.88372
4            5  2023-01-01T18:53:00.000000000  0.88272           0.88265

   ticks_moved  directions  fx_return
0            1          -1        NaN
1            1           1   0.138226
2            1          -1  -0.134641
3            1           1   0.122360
4            1          -1  -0.121079

,tick_number,datetime,price,actual_openprice,ticks_moved,directions,fx_return
0,1,2023-01-01T18:34:00.000000000,0.88272,0.88261,1,-1,NaN
1,2,2023-01-01T18:35:00.000000000,0.88372,0.88383,1,1,0.138226
2,3,2023-01-01T18:37:00.000000000,0.88272,0.88264,1,-1,-0.134641
3,4,2023-01-01T18:52:00.000000000,0.88372,0.88372,1,1,0.122360
4,5,2023-01-01T18:53:00.000000000,0.88272,0.88265,1,-1,-0.121079
...,...,...,...,...,...,...,...
1888,1889,2023-12-29T10:07:00.000000000,0.86872,0.86858,1,-1,-0.144854
1889,1890,2023-12-29T10:52:00.000000000,0.86772,0.86757,1,-1,-0.116282
1890,1891,2023-12-29T11:00:00.000000000,0.86672,0.86662,1,-1,-0.109501
1891,1892,2023-12-29T11:10:00.000000000,0.86772,0.86773,1,1,0.128084
1892,1893,2023-12-29T13:10:00.000000000,0.86672,0.86670,1,-1,-0.118701